.prices {
  @include flex(center, flex-start, row, wrap);
}
.price {
  width: 450px;
  height: 505px;
  text-align: center;
  margin: 0 11px 50px 11px;
  border: 3px solid $LightBrownTheme;

  &__title, &__cost {
    font-family: Merriweather, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 28px;
    line-height: 56px;
  }
  &__cost {
    font-size: 24px;
    line-height: 48px;
    color: $LightBrownTheme;
  }
  &__list {
    padding: 0;
    margin-bottom: 48px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
  }
  .btn {
    font-size: 20px;
    line-height: 40px;
  }
}

.price-light {
  color: $BlackTheme;
}

@media (max-width: 768px) {
  .price {
    width: 420px;
    padding-top: 12px;
    &__list {
      margin-bottom: 40px;
    }
  }
}
