.skills {
  @include flex(space-between, flex-start, row, wrap);
}

.skill {
  width: 344px;
  height: 240px;
  padding: 0 30px;
  margin-bottom: 21px;
}
.skill-light {
  color: $BlackTheme;
}
.skill__icon, .skill__title, .skill__description {
  text-align: center;
}
.skill__icon {
  margin-bottom: 50px;
}
.skill__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin: 0 0 19px;
}
.skill__description {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .skills {
    margin-right: 3px;
    @include flex(center, flex-start, row, wrap);
  }
  .skill {
    &__icon {
      margin-bottom: 27px;
    }
    &__title {

    }
  }
}
@media (max-width: 550px) {
  .skills {
    margin-right: 0;
  }
}
